.menu(class = "col-md-4" ng-controller='MenuCtrl')
  ul(class='nav')
    li(ng-class= "{active: $state.includes('public.authorization')}")
      a(ui-sref="public.authorization") authorization
    li(ui-sref-active="active")
      a(ui-sref="public.personal") personal information
    li(ui-sref-active="active")
      a(ui-sref="public.contacts") contact information
    li(ui-sref-active="active")
      a(ui-sref="public.submit") data submition
    li(ui-sref-active="active")
      a(ui-sref="public.review") reviewing
    li(ui-sref-active="active")
      a(ui-sref="public.customers") customers page

  //- ul(class='nav-menu')
  //-   li authorization
  //-   li personal information
  //-   li contact information
  //-   li data submition
  //-   li reviewing
  //-   li customers page